.chat-section-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chatrenderingMessage {
  margin-top: 23%;
  font-size: 30px;
  margin-left: 27%;
  font-weight: 500;
  font-family: "Poppins";
}