/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://db.onlinewebfonts.com/c/1d616465837482e4ee7af783bdb01e4c?family=Flix+W90+Regular"); */
@import url("https://db.onlinewebfonts.com/c/821de48f4b9ca66fa33a22103fcb63f8?family=Roundor");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.landing-main-container {
  width: 100%;
  height: 100%;
}

.landing-wrapper {
  width: 100%;
  height: 100%;
}

.home-container {
  width: 100%;
  height: 100%;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  padding: 1.5rem 3.5rem 0;
}

.background-shape-wrapper {
  width: 100%;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.shape-container {
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: -1;
  position: absolute;
  border-radius: 100% 0% 0% 100% / 65% 22% 68% 35%;
  background: linear-gradient(to right, #ff206e, #ff9eb5);
}

.landing-heading-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 40%;
}

.landing-heading-container {
  width: 100%;
  height: 100%;
  padding-top: 9rem;
}

.landing-heading {
  width: 95.2%;
  font-size: 87px;
  font-weight: 900;
  line-height: 0.9;
  font-style: normal;
  letter-spacing: 6px;
  font-optical-sizing: auto;
  font-family: "Roboto Slab", serif;
  /* font-family: "Poppins", sans-serif; */
}

.landing-sub-heading {
  width: 76%;
  font-size: 20px;
  color: #444444;
  margin-top: 0.6rem;
  letter-spacing: 2px;
  font-family: "Roboto Slab", serif;
}

.letsChatBtn,
.startaudiocall,
.startvideocall,
.startchatnow {
  padding: 1rem;
  display: block;
  margin: 1.4rem 0;
  color: #ffffff;
  /* color: #000000; */
  width: max-content;
  border-radius: 1rem;
  text-decoration: none;
  background-color: #000000;
  /* background-color: #999b9c; */
  font-family: Roboto Mono, sans-serif;
}

.letsChatBtn:hover,
.startaudiocall:hover,
.startvideocall:hover,
.startchatnow:hover {
  color: #ffffff;
  background-color: #ff206e;
  transition: all 0.2s linear;
}

.chatgif-container {
  width: 100%;
  height: 100%;
}

.chatGif {
  width: 100%;
  margin-top: 8rem;
}

.features-container {
  width: 100%;
  background-color: #e1e1e1;
}

.features-wrapper {
  width: 100%;
  background-color: #ffffff;
}

.features-main-heading {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0 1rem;
  font-family: "Poppins";
  background-color: #ffffff;
  /* background-color: red; */
}

.features-benifit-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 3rem 3.5rem 5.5rem 0;
}

/* .video-call-feature-container {
  height: 100%;
  background-color: yellow;
} */

.video-call-feature-wrapper {
  height: 100%;
}
.audio-call-feature-wrapper {
  height: 100%;
}
.messaging-feature-wrapper {
  height: 100%;
}

.video-call-feature-wrapper,
.audio-call-feature-wrapper,
.messaging-feature-wrapper {
  display: flex;
  margin: 0 1rem;
  flex-direction: row;
}

.video-call-feature-icon-wrapper,
.audio-call-feature-icon-wrapper,
.messaging-feature-icon-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  margin: 0 2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 14px 35px 10px #dbdbdb;
}

.video-call-feature-icon-wrapper {
  background-color: #c8f9cc;
}

.video {
  color: #0a820a;
}

.audio-call-feature-icon-wrapper {
  background-color: #ffccc9;
}

.audio {
  color: #ec0000;
}

.messaging-feature-icon-wrapper {
  background-color: #c9e2fc;
}

.messaging {
  color: #0000ff;
}

.feature-icon {
  font-size: 45px;
}

.video-call-feature-heading,
.audio-call-feature-heading,
.messaging-feature-heading {
  font-weight: 800;
}

.about-features-wrapper {
  width: 100%;
  height: 100%;
  /* background-color: #F8F8FA; */
}

.chat-feature-container,
.videocall-feature-container,
.audiocall-feature-container {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}

.audiocall-feature-container {
  background-color: #ffffff;
}

.chat-feature-wrapper,
.videocall-feature-wrapper,
.audiocall-feature-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 3.5rem 0;
  /* background-color: red; */
}

.chat-img-container,
.videocall-img-container,
.audiocall-img-container {
  width: 50%;
  height: 100%;
  padding: 5rem;
  /* background-color: yellow; */
}

.videocall-img-container,
.chat-img-container {
  padding: 5rem 5rem 5rem 0;
}

.chat-img,
.videocall-img,
.audiocall-img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 15px 14px 35px 10px #dbdbdb;
}

.videocall-img,
.chat-img {
  width: 95%;
}

.chat-feature-info-container,
.videoCall-feature-info-container,
.audiocall-feature-info-container {
  width: 50%;
  height: 100%;
  padding: 7rem 3.5rem;
}

.audiocall-feature-info-container {
  width: 50%;
  height: 100%;
  padding: 7rem 3.5rem 7rem 0;
}

.chat-heading,
.videocall-heading,
.audiocall-heading {
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins";
}

.chat-subheading,
.videocall-subHeading,
.audiocall-subheading {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 400;
}
/* backgraund-color: #D4D4D8; */

.test {
  /* font-family: "Flix", serif; */
  /* font-family: "Roundor", serif; */
  /* background: linear-gradient(to right, #ff206e, #7f00ff); */
  /* background: linear-gradient(to right, #ff206e, #ff8c00); */
  /* background: linear-gradient(to right, #ff206e, #00bfff); */
  /* background: linear-gradient(to right, #ff206e, #8b0000); */
  background-color: #ffffff;
}