@import url("https://db.onlinewebfonts.com/c/821de48f4b9ca66fa33a22103fcb63f8?family=Roundor");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.footer-main-container {
  width: 100%;
  height: 20%;
  /* background-color: red; */
}

.footer-main-wrapper {
  width: 100%;
  height: 100%;
  padding: 1.5rem 3.5rem 1.5rem;
}

.footer-container {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #d4d4d8;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing-footer-logo {
  color: #ff206e;
}

.footer-logo-container,
.footer-nav-container,
.social-icons-container {
  width: max-content;
}

.footer-logo-container {
  width: 10%;
}

.footer-nav-container {
  width: 30%;
  display: flex;
  justify-content: center;
}

.footer-nav-container {
  width: 30%;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-nav > ul {
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color: #000000;
  text-decoration: none;
}

.social-icons-container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-container {
  height: 80%;
  padding: 3rem 0;
}

.copyright-symbol {
  font-size: 22px;
}

.copyright-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.conditions-container {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
