.header-container {
  width: 100%;
  height: 2rem;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: space-between;
}

.logo-container {
  width: 7%;
  display: flex;
  align-items: center;
}

.landing-logo-link {
  color: #000000;
  text-decoration: none;
}

.landing-logo {
  font-size: 20px;
  font-weight: 900;
}

.nav-menu-container {
  width: 25%;
  border-radius: 20rem;
  background-color: rgba(252, 252, 252, 0.5);
}

.landing-nav-menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgba(252, 252, 252, 0.5); */
}

.landing-nav-menu-li {
  color: #000000;
  text-decoration: none;
}

.landing-nav-link {
  color: #000000;
  text-decoration: none;
}

.landing-nav-link:hover {
  color: #ff206e;
}

.signinBtn-container {
  width: 7%;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 2rem;
  justify-content: center;
  background-color: #000000;
  /* background-color: rgba(244, 244, 244, 0.7); */
}

.signinbtn {
  width: 100%;
  height: 100%;
  color: #ffffff;
  /* color: #000000; */
  text-align: center;
  padding-top: 0.3rem;
  text-decoration: none;
}

.signinBtn-container:hover {
  transition: all 0.2s linear;
  /* background-color: #ff206e; */
  /* background-color: #000000; */
  background-color: rgba(244, 244, 244, 0.7);
}

.signinBtn-container:hover > .signinbtn {
  color: #000000;
  padding-top: 0.3rem;
  transition: all 0.2s linear;
}

.active {
  color: #ff206e;
}
